<!--<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Home
        </ion-title>
    </ion-toolbar>
</ion-header>-->

<ion-content>
    <h2 class="help-text">How can i help, Vamsee Kalyan</h2>
    <div class="snippets-list">
        <p class="title">Thinks you can ask me:</p>
        <p class="tip">Tell me about myself at PWC</p>
        <p class="tip">What's my current pipeline?</p>
        <p class="tip">What else can i discover?</p>
    </div>
</ion-content>
